<div id="geral">

    <div id="cabecario">

        <h2>
            <span>C</span><span>a</span><span>d</span><span>a</span><span>s</span><span>t</span>
            <span> de</span>
            <span> </span>
            <span>C</span><span>o</span><span>r</span><span>r</span><span>i</span><span>d</span>
        </h2>

    </div>

    <div id="form">

        <label for="descri">Descrição da Corrida</label>
        <textarea name="descri" id="descri" cols="50" rows="6"
            placeholder="Ex- Maratona Internacional de João Pessoa "></textarea>

        <label for="date">Data da Corrida</label>
        <input type="date" name="date" id="date">

        <label for="dist">Distância Disponível</label>
        <select name="dist" id="dist">

            <option value="5km">5km</option>
            <option value="10km">10km</option>
            <option value="25km">25km</option>
            <option value="50km">50km</option>
            <option value="100km">100km</option>

        </select>

        <div id="btns">
            <button type="button">Cadastrar Corrida</button>
        </div>
    </div>

