<section id="form">
    <h2>Cadastro de Atleta </h2>
    <form action="" id="atleta">
        <label for="nome">Nome Completo</label>
        <input type="text" nome="nome" id="nome" class="input01"
        maxlength="60" required placeholder="Digite o nome Completo">
        
        <label for="cpf">CPF</label>
        <input type="text" nome="cpf" id="cpf" class="input02"
        maxlength="14" required  placeholder="Digite o seu CPF">
        

        <label for="sexo">Sexo</label>
<input type="radio" name="sexo" id="sexoM" class="radio01" required value="M"> Masculino
<input type="radio" name="sexo" id="sexoF" class="radio01" required value="F"> Feminino
<input type="radio" name="sexo" id="sexoN" class="radio01" required value="N"> Não Declarar

        <label for="cep"></label>
        <input type="text" nome="cep" id="cep" class="input02"
        maxlength="9" required placeholder="Digite o seu cep ">
    

    <label for="rua-logradouro">Rua/Logradoura</label>
    <input type="text" nome="rua-logradouro" id="rua-logradouro" class="input01"
    maxlength="60" required placeholder="Digite a Rua ou Logradouro ">


<label for="Bairro">Bairro</label>
<input type="text" nome="Bairro" id="Bairro" class="input02"
maxlength="60" required placeholder="Digite o Bairro ">


<label for="cidade">Cidade</label>
        <input type="text" nome="cidade" id="cidade" class="input02"
        maxlength="60" required placeholder="Digite a sua cidade ">

<div id="div-btns">
    <button type="submit" id="btnAdd"> Cadastrar </button>
    <button type="reset" id="btnLimpar"> Limpar </button>
</div>


    </form>
</section>